@if(GameState is not null)
{
    <button class="submit-btn" @onclick="async () => await SubmitCardsAsync()">Submit</button>

    <div class="card-drawer">
        @foreach (var card in GameState.Game.Cards)
        {
            <div class="card card-hand">
                <input id="@card.UniqueId" type="checkbox" @onchange="args=>ToggleCardSelection(args, card.Id)" />
                <label for="@card.UniqueId"></label>
                <span class="card-content">@card.Text (@card.UniqueId)</span>
                <span class="card-selected">Selected</span>
            </div>
        }
    </div>
}
